@{
    ViewBag.Title = "Redes Sociales";
    Layout = "~/Views/Shared/_Layout_Tienda.cshtml";
}

<div class="d-flex justify-content-center align-items-center vh-100" style="background-image: url('../Imagenes/Logo/redessociales.jpg'); background-size: cover; background-position: center; ">

    <div class="text-center bg-light p-4 rounded" style="opacity: 1.8;">
        <h2>¡Contáctanos a través de nuestras redes sociales!</h2>
        <h2>¡Y síguenos en nuestras redes sociales!</h2>
        <div class="d-flex justify-content-center mt-4">
            <!-- Botón de WhatsApp -->
            <a href="https://wa.me/+59178318060?text=Hola%20gracias%20por%20comunicarte%20con%20nosotros.%20En%20un%20momento%20serás%20atendido.%20Mientras%20tanto,%20cuéntanos%20qué%20te%20trae%20con%20nosotros." target="_blank" class="btn btn-success me-3" style="font-size: 1.5rem; padding: 10px 20px;">
                <i class="fab fa-whatsapp"></i> WhatsApp
            </a>

            <!-- Botón de Facebook -->
            <a href="https://www.facebook.com/tuempresa" target="_blank" class="btn btn-primary me-3" style="font-size: 1.5rem; padding: 10px 20px;">
                <i class="fab fa-facebook"></i> Facebook
            </a>

            <!-- Botón de Instagram -->
            <a href="https://www.instagram.com/tuempresa" target="_blank" class="btn btn-danger" style="font-size: 1.5rem; padding: 10px 20px;">
                <i class="fab fa-instagram"></i> Instagram
            </a>
        </div>
    </div>
</div>


